.card-btn{
    margin-top: 2rem !important;
}
.fund-btn{
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    gap: 2.5rem;
}
.settings{
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}
/* src/components/CardDetails/CardDetails.css */

.card-details-container {
    background-color: white;
    border-radius: .5rem;
    padding: 3rem;
    margin: 2.5rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-tabs {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    border-bottom: 3px solid transparent;
}

.tab.active {
    border-bottom: 3px solid #0a5f38;
    color: #0a5f38;
}

.card-content {
    display: flex;
    gap: 20px;
}

.card-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #F7F8F7 0%, rgba(247, 248, 247, 0) 100%);
}

.card-image {
    max-width: 20rem;
    border-radius: 10px;
}

.card-info {
    flex: 2;
}

.card-number h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-detail-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-detail-item .label {
    font-weight: bold;
    color: #555;
}

.card-detail-item .value {
    color: #333;
}

.brand-icon {
    background-color: #ddd;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}
/* src/CardInfo.css */
.card-info-container {
    background-color: #ffffff;
    border-radius: .5rem;
    border: 1px solid #E5E6E6;
}

.card-info-table {
    width: 100%;
    border-collapse: collapse;
}

.card-info-table td {
    padding: 1.5rem 0;
    font-size: 16px;
    color: #333;
    font-size: 1.4rem;
    border-bottom: 1px solid #E5E6E6;
}
.card-info-table td:first-child {
    color: #555;
    border-bottom: 1px solid #E5E6E6;
    padding-left: 2rem;
    font-size: 1.4rem;
}
.tr td{ 
    padding-top: .8rem !important;
    padding-bottom: .9rem !important;
}
.card-brand {
    align-items: center;
}

.brand-logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #d7d1d1f5;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 8px;
    font-weight: bold;
}

