body{
    background-color: #F9F9F9;
}

.currency-selector {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: white;
    border-radius: .6rem;
    padding: 1rem 1rem 1rem;
  }
  
  .flag-icon {
    width: 20px; 
    height: auto;
    margin-right: 8px;
  }
  
  .currency-code {
    font-size: 12px;
    font-weight: normal;
  }
  
  .dropdown{
    font-size: 18px !important;
    width: 25px;
    margin-left: 4px; 
    cursor: pointer;
  }
  